*{
	margin:0;
	padding:0;
}

header{
	background-color:#f37520;
	min-height: 64px;
}

section nav{
	background-color: #EDEDED;
}

footer{
	background-color: #454545;
}

@media (min-width: 576px){
	section, section nav{
		height: calc(100vh - 260px);
	}
}
